.noUsersLabel {
  text-align: center;
  padding: 30px 0px;
}

.ebsiDIDCell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chipsContainerCell {
  width: 200px;
}

.chipsContainerStack {
  justify-content: flex-end !important;
}

.modalTitle, .importantMessage, .addItem, .pemKeyFormatErrorAlert, .textInput {
  margin-bottom: 20px !important;
}

.privateKeyContainer {
  margin: 30px 0px;
}

.privateKeyInput {
  width: 100% !important;
}

.copyPrivateKey {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
}

.usePublicKeyControl, .selectResourceRoles {
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px !important;
}

.userRow {
  cursor: pointer;
}

.dialogTitle {
  width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.removeItemsButton {
  padding-top: 8px;
  width: 100% !important;
}

.addButtonContainer {
  margin-right: 2% !important;
  margin-bottom: 20px !important;
  width: 48%;
}

.removeButtonContainer {
  margin-left: 2% !important;
  margin-bottom: 20px !important;
  width: 48%;
}

.textHelper {
  width: 100%;
  margin-bottom: 10px !important;
}

.resourceSelect {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}